<script TYPE="text/javascript">
  function popup(mylink, windowname)
  {
      if (! window.focus)
          return true;
      var href;
      if (typeof(mylink) == 'string')
          href=mylink;
      else
          href=mylink.href;
      window.open(href, windowname, 'width=1000, height=800, scrollbars=yes');
      return false;
  }
</script>

{% extends "layout.html" %}
{% block content %}
  <div class="account_page">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Your AIs</h1>
    <form method="post">
      <button id="newAIButton" type="submit" name="newAI" value="new bot"
              onclick="document.getElementById('newAIButton').setAttribute('value', prompt('Name your new AI:'))">
          Add New AI
      </button>
    </form>
    {% if bots|length == 0 %}
      <p>No AIs to display.</p>
    {% else %}
      <table>
        <tr>
          <td>Bot Name</td>
          <td>Login Key</td>
        </tr>
        {% for bot in bots %}
          <tr>
            <td>{{ bot['name'] }}</td>
            <td>{{ bot['key'] }}</td>
            <td><form method="post"><button type="submit"
                      name="deleteAI" value="{{ bot['key'] }}" onclick="return confirm('Are you sure you want to delete this AI?')">Delete</button></form></td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}

    <h1>Your Teams</h1>
    <form method="post">
      <button id="newTeamButton" type="submit" name="newTeam" value="new team"
              onclick="document.getElementById('newTeamButton').setAttribute('value', prompt('Name your new Team (must be unique):'))">
          Add New Team
      </button>
    </form>
    {% if teams|length == 0 %}
      <p>No Teams to display.</p>
    {% else %}
    <table>
      {% for team in teams %}
        <tr>
          <td>{{ team }}</td>
          <td><form method="post"><button type="submit"
                    name="editTeam" value="{{ team }}">Edit</button></form></td>
          <td><form method="post"><button type="submit"
                    name="deleteTeam" value="{{ team }}"
                    onclick="return confirm('Are you sure you want to delete this team?')">Delete</button></form></td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
{% endblock %}
