<!DOCTYPE html>
<html>
  <head>
    <title>Project Porygon</title>
    <link rel="icon" href="https://vignette2.wikia.nocookie.net/pokemon/images/3/3b/137Porygon_AG_anime.png/revision/latest?cb=20141006025936">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ProjectPorygon.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Project Porygon</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('account') }}">Account</a></li>
            <li><a href="{{ url_for('battle') }}">Battle</a></li>
            <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
