{% extends "layout.html" %}
{% block content %}
   	<div class="login_page">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<h1>Login</h1>
		<p>Enter your username and password.</p>
		<form method="post">
			<input type="text" placeholder="Username" name="username" required>
			<input type="password" placeholder="Password" name="password" required>
			<input type="submit">
		</form>
	</div>
{% endblock %}