{% extends "layout.html" %}
{% block content %}
	<div class="signup_page">
	    <div class="container">
	      <h1>Please fill out the following</h1>
	      <br>
	      <form action="" method="post">
	        <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
	        <br>
	        <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
	        <input class="btn btn-default" type="submit" value="Login">
	      </form>
	      {% if error %}
	        <p class="error"><strong>Error:</strong> {{ error }}
	      {% endif %}
	    </div>
	</div>
{% endblock %}